[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask-sqlalchemy = "*"
flask-shell-ipython = "*"
black = "*"
pytest = "*"
pdbpp = "*"
pytest-flask = "*"
pytest-cov = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-httpauth = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
marshmallow = "*"
flask-admin = "*"
pusher = "*"
boto3 = "*"
uwsgi = "*"
sqlalchemy-utils = "*"
flask-login = "*"
psycopg2-binary = "*"
transitions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
