.pedido-display {
  .back-button {
    margin-top: 10px;
    &:last-child {
      margin-bottom: 50px;
    }

    .label {
      margin-left: 10px;
    }
  }

  label {
    font-weight: bold;
  }

  .pedido-actions-card {
    position: sticky;
    top: 0;
    z-index: 99999999999;

    .status-container {
      margin-bottom: 10px;
    }
  }
}
