{% extends 'admin/base.html' %}

{% block head_css %}
{{ super() }}

<style>
  .admin-login-form {
    width: 400px;
    margin: auto;
    padding: 10px;
    display: block;
  }
  .admin-login-form > button {
    margin-top: 20px;
  }
</style>

{% endblock head_css %}

{% block body %}
{{ super() }}
<div class="row-fluid">
  <div>
    {% if current_user.is_authenticated %}
    <h1>App Vendas Admin</h1>
    <a href="{{ url_for('admin.logout_view') }}">Sair</a>
    {% else %}
    <form method="POST" action="">
      {{ form.hidden_tag() if form.hidden_tag }}
      <div class="form-group admin-login-form">
        {% for field in form %}
        <div>
          {{ field.label }}
          {{ field }}
          {% if field.errors %}
          <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit" >Entrar</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock body %}
