<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Vida de Ouro - App Vendas" />
    <title>
      Vida de Ouro - App Vendas
    </title>
    <link
      href="{{ s3_static('css/main.91a46a01.chunk.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root" />
    <script src="{{ s3_static('js/runtime-main.3a02ae19.js') }}"></script>
    <script src="{{ s3_static('js/2.87d07778.chunk.js') }}"></script>
    <script src="{{ s3_static('js/main.33b0de57.chunk.js') }}"></script>
  </body>
</html>
