<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>
      Sistema
    </title>
    <link
      href="{{ s3_static('css/main.87cea68c.chunk.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root" />
    <script src="{{ s3_static('js/runtime-main.3a02ae19.js') }}"></script>
    <script src="{{ s3_static('js/2.cea42594.chunk.js') }}"></script>
    <script src="{{ s3_static('js/main.c5c6b77d.chunk.js') }}"></script>
  </body>
</html>
