<html>
  <head>
    <title>
      Backoffice
    </title>
    <link
      href="{{ backoffice_static('css/main.595dd9f9.chunk.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <span>
      <input
        type="hidden"
        value='{"token": "eyJhbGciOiJIUzUxMiIsImlhdCI6MTU4MjU2NzY4NiwiZXhwIjoxNTgyNjU0MDg2fQ.eyJlaWQiOiJUVzJKWk1ER1VaRFlWQ01SVU1SVkdDVVM3WSJ9.FyGGG0p1rZTBkmWk6A7j6tmDZG0Rhvau6yYeS14MKPDcfeCEwP-LWp1CSVPtGSNcF3SwjNKuNM8hpglBh7DeVA"}'
        id="usuario_data"
      />
    </span>
    <div id="root" />

    <script src="{{ backoffice_static('js/2.1ac5cb62.chunk.js') }}"></script>
    <script src="{{ backoffice_static('js/runtime-main.3a02ae19.js') }}"></script>
    <script src="{{ backoffice_static('js/main.2d0a160e.chunk.js') }}"></script>
  </body>
</html>
